/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#root{
    margin:0;
    padding:0px;
    border: 0px;
    font-size: 100%;
    max-width: 100vw;
}
@font-face {
    font-family: 'Alex Brush';
    src: url('./fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('./fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
a:focus, a:hover, a:visited, a:link, a:active, a{
    color: inherit;
    text-decoration: inherit;
}
.home{
    background: url("./newProfileAssets/background.svg") no-repeat center bottom fixed;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    display:-ms-grid;
    display:grid;
    -ms-grid-rows: 20vh 50vh 10vh;
    grid-template-rows: 20vh 50vh 10vh;
    -ms-grid-columns: 5vh auto;
    grid-template-columns: 5vh auto;

}
.home > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;

}
.home > *:nth-child(2){
    -ms-grid-row:1;
    -ms-grid-column:2;

}
.home > *:nth-child(3){
    -ms-grid-row:2;
    -ms-grid-column:1;

}
.home > *:nth-child(4){
    -ms-grid-row:2;
    -ms-grid-column:2;

}
.home > *:nth-child(5){
    -ms-grid-row:3;
    -ms-grid-column:1;

}
.home > *:nth-child(6){
    -ms-grid-row:3;
    -ms-grid-column:2;

}
.homeTitle{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.homeName{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color:#1DD0CE;
    font-size: 8em;
    font-family: "Alex Brush" ;
    margin:0%;
}
.homeTitles{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2rem;
    padding:0px;
    padding-left: 30px;
}
.homeTitles p{
    margin:0px;
    color:#FFA35D;
    font-size: 1rem;
    font-family: "8-bit Operator+ SC";
}
.homeLinks{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    font-family: "8-bit Operator+ SC";
    display:-ms-grid;
    display:grid;
    font-size: 4rem;
    -ms-grid-columns: 500px auto;
    grid-template-columns: 500px auto;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
}
.homeLink{
    color:#FFA35D;
    display:-ms-grid;
    display:grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: left;
}
#homeLinkText{
    border:5px solid #0E9594;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:4px;
}
#homeLinkText:hover{
    border:5px solid #FFA35D;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    color: #0E9594;
    cursor: pointer;
    background-color: #F5DFBB;
}
@media (max-width: 1000px) {

    .home{
        background: url("./newProfileAssets/background 2.svg") no-repeat center bottom fixed;
    background-size: cover;
    }
    .homeLink{
        font-size: 3rem;
    }
    .homeName{
        font-size: 5rem;
    }
    .homeTitle{
        font-size: 1.2em;
    }
    .homeTitles{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media (max-width: 600px) {
    .homeLink{
        font-size: 2rem;
    }
    .homeName{
        font-size: 2rem;
    }
    .homeTitles{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 0px;

    }
    .homeTitles p{
        font-size: .6rem;
        padding:0px;
        margin:0px;
    }
    .homeLinks{
    -ms-grid-columns:auto;
    grid-template-columns:auto;
    }
}