/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
@font-face {
    font-family: 'Alex Brush';
    src: url('./fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('./fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src:url('./fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src:url('./fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
a:focus, a:hover, a:visited, a:link, a:active, a{
    color: inherit;
    text-decoration: inherit;
}
.home{
    background: url("./newProfileAssets/openorange.jpg") no-repeat 50% 60%;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display:grid;
    grid-template-rows: 20vh 40vh 0px 40vh;
}
.homeTitle{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.homeName{
    grid-row: 1/2;
    color:#39c2da;
    font-size: 12rem;
    font-family: "Arial" ;
    margin:0%;
}
.homeTitles{
    grid-row: 2/3;
    display: flex;
    padding:0px;
    flex-direction: column;
}
.homeTitles p{
    margin:0px;
    color: white;
    font-size: 4rem;
    line-height: 5rem;
    font-family: "open sans";
    padding-left: 10px;
}
.homeLinks{
    font-family: "open sans";
    font-size: 4rem;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.homeLink{
    color:#EC672C;
    display:-ms-grid;
    display:grid;
    grid-column: 1/2;
    justify-items: left;
    padding-left: 2vw;
}
#homeLinkText{
    border:5px solid #FDCE0B;
    display: flex;
    padding: 0px 1vw 0px;
}
#homeLinkText:hover{
    border:5px solid #EC672C;
    transition: .2s;
    color: white;
    cursor: pointer;
}
@media (max-width: 1000px) {

    .home{
        background: url("./newProfileAssets/openorange.jpg") no-repeat center bottom;
    background-size: cover;
    }
    .homeLink{
        font-size: 3rem;
    }
    .homeName{
        font-size: 5rem;
    }
    .homeTitle{
        font-size: 1.2em;
    }
    .homeTitles{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
@media (max-width: 550px) {
    .home{
        display: grid;
        grid-template-rows: 30vh 20vh 50vh ;
        height: 100vh;
    }
    .homeName{
        font-size: 4rem;
    }
    .homeLinks{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 20vh;
        justify-content: space-around;
        height: 50vh;
    }
    .homeLink{
        font-size: 1.3rem;
        border-radius:0px;
    }
    #homeLinkText{
        border-radius:0px;
    }

}
@media (max-width: 450px) {
    .home{
        display: grid;
        grid-template-rows: 10vh 10vh 30vh ;
        height: 100vh;
        background: url("./newProfileAssets/openorange.jpg") no-repeat 50% 60%;
    }
    .homeName{
        font-size: 3rem;

    }
    .homeTitles p{
    font-size: 1.5rem;
    }
    .homeLinks{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 20vh;
        justify-content: space-around;
        height: 50vh;
    }
    .homeLink{
        font-size: 1.5rem;
        border-radius:0px;
    }
    #homeLinkText{
        border-radius:0px;
    }

    
}
@media (max-width: 400px) {
    .homeTitles p{
        font-size: 1rem;
        line-height: 2rem;
    }
}
@media only screen and (max-height:700px) and (min-width:1000px){
    .homeName{
        font-size: 8rem;
    }
    .homeTitles p{
        font-size: 1.5rem;
    }
    .homeLinks{
    }
    .homeLink{
    }
    #homeLinkText{
        font-size: 2rem;
    }
}
@media only screen and (max-height:500px) and (min-width:1000px){
    .homeName{
        font-size: 6rem;
    }
    .homeTitles p{
        font-size: 1rem;
    }
    .homeLinks{
    }
    .homeLink{
    }
    #homeLinkText{
        font-size: 1.7rem;
    }
}